@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --marquee-gap: 20px;
    --marquee-duration: 60s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    :root {
        --marquee-gap: 18px;
        --marquee-duration: 60s;
    }
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}
